html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: "Reddit Sans Condensed", sans-serif;
}

  div {
    border: 1px solid darkolivegreen;
  }