html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: "Reddit Sans Condensed", sans-serif;
}

  .custom-footer {
    background-color: darkolivegreen;
}
