html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "Reddit Sans Condensed", sans-serif;
    background-color: #EEECE6; /* Choose your desired background color */
    color: rgb(var(--bs-tertiary-color-rgb));
  }

  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  

  .hero-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }

  hr.spacer {
    border: none;
    height: var(--spacer-height, 40px); /* Default height */
    margin: 0;
  }
  
  hr.spacer-double {
    border: none;
    height: calc(var(--spacer-height, 40px) * 2); /* Double the height */
  }
  
  hr.spacer-triple {
    border: none;
    height: calc(var(--spacer-height, 40px) * 3); /* Triple the height */
  }
  

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.custom-button {
    background-color: saddlebrown; /* Custom background color */
    color: white; /* Custom text color */
    padding: 6px 12px; /* Custom padding */
    font-size: 16px; /* Custom font size */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }

.custom-button:hover {
    background-color: white; /* Lighter background on hover */
    color: black; /* Change text color on hover */
  }

  .custom-nav-button {
    background-color: transparent; /* Custom background color */
    color: saddlebrown; /* Custom text color */
    padding: 6px 12px; /* Custom padding */
    font-size: 16px; /* Custom font size */
    border-radius: 8px; /* Rounded corners */
    border: 1px solid saddlebrown;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }

.custom-nav-button:hover {
    background-color: white; /* Lighter background on hover */
    color: black; /* Change text color on hover */
  }

.custom-border-top {
  border-top: 1px solid white; /* white border */
}

.overlap {
  margin-top: -50px; /* Adjust the value as needed */
  position: relative;
  z-index: 5; /* Ensure it appears above the hero image */
}

.footer-container {
  width: 100vw;
  height: 100px;
  padding-top: 8px;
  padding-bottom: 20px;
  background-color: silver;
}

/* Apply white color to specific SVG icons by class */
.icon-white {
  fill: white;
}

.footer-text {
  color: white; /* Change this to your desired color */
}

